* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
}
nav{
    display: flex;
    justify-content: space-between;
}
div {
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.text{
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: orangered;
    padding-top: 5px;
}

.form{
    width: 250px;
    height: 250px;
    border: 1px solid black;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
}
.form input {
    padding: 10px;
    outline: none;
}

.pages {
    margin-top: 20px;
}

.btn1{
    padding: 10px;
    background-color: orangered;
    border: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.container{
    display: flex;
}